
.navbar{
    font-family: 'Sarala';
      padding-top:10px;
    padding-bottom: 10px; 
    background-color: white !important;
    color: black !important;
    border: 2px solid whitesmoke !important;
    box-shadow: 0px 0px 30px gray;
    font-size: 1.2em;
  }

  input{
    font-family: 'Sarala';

      font-size: 1.5em !important;
  }


  input::placeholder{
    color:rgb(173, 165, 165) !important;
  
  }

  button{
      font-size: 2em;
  }