#homeDiv{
    display: none;
}




/* navbar */

@import url('https://fonts.googleapis.com/css?family=Sarala');

.navbar{
  font-family: 'Sarala';
    padding-top:10px;
  padding-bottom: 10px; 
  background-color: white !important;
  color: black !important;
  border: 2px solid whitesmoke !important;
  box-shadow: 0px 0px 30px lightgray;
  font-size: 1.2em;
}
#radioBtn .notActive{
  color: #3276b1;
  background-color: #fff;
}

input::placeholder{
  color: rgb(125, 123, 247) !important;

}


.nav.navbar-nav.navbar-right li a {
  color: rgb(47, 47, 49);
}

  .nav.navbar-nav.navbar-right li a:hover{
  color: rgb(12, 11, 14);

}

.my-color{
  font-size: 1.7em !important;
  color: rgb(83, 57, 199) !important;

}
h1,h2,h3{
  
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  color: rgb(12, 11, 14);
}
h1{
  font-size: 55px;
}


tr{
  font-size: 1.2em;

  /* color: rgb(163, 16, 16); */
  /* box-shadow: 0 0 10px #741b1b; */
  /* border: 2px solid rgb(160, 157, 157); */

}
td{
  margin: 1px;
  /* border: 2px solid rgb(160, 157, 157); */
  /* box-shadow: 0 0 10px grey; */



}
#tHead{
  font-size: 1.5em;
  /* background-color: rgb(163, 16, 16); */
/* background-color:rgb(240, 212, 212); */
color: white !important;
}
table{
   width: 100%;
  text-align: center;
   background-color:rgb(240, 212, 212);

}



#available{
  width: 30px;
  height: 40px;
 padding: 5px;
}



p{
  /* color: rgb(163, 16, 16); */
}

/* span{
  color: rgb(163, 16, 16);
} */



.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgb(128, 15, 11);
  border-bottom: 16px solid rgb(128, 15, 11);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* navbar */



























